<div class="container top-30">
    <div class="row">
        <div class="col-md-3">
            <label for="search">Buscado de artistas</label>
            <input [(ngModel)]="search" 
            (keyup)="searchArtist()"
            name="search"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Buscar artista..." aria-label="Search">
            <hr>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3 text-center puntero" 
            [routerLink]="['/artist', artist.id]"
            *ngFor="let artist of spotifySrv.artists">
              <h3 *ngIf="!spotifySrv.artists.length" >No se encontraron resultados de: {{ search }}</h3>
              <img [src]="artist.images | noimage" alt="" class="img-fluid img-thumbnail">
              <!-- [src]="artist.images[1]?.url" -->
              <p>{{ artist.name }}</p>
            </div>
          </div>
      </div>
</div>

